BODY {
	background-color: #FBB5FC;
	font-family: arial;
	font-weight: bold;
	color: red;
	text-align: center;
}

H1 {
	border: 2px double red;
	letter-spacing: 15px;
	text-transform: uppercase;
	text-align: center;
	font-size: 4em;
}
H2 {
	border: 1px solid red;
	text-decoration: underline;
	letter-spacing: 3px;
	font-size: 3em;
}
H3 {
	font-family: verdana;
	letter-spacing: 2px;
	font-size: 2em;
}
H4 {
	font-family: courier;
	font-style: italic;
}
H5 {
	font-family: "century gothic";
	font-style: oblique;
	font-size: small;
}
A {
	color:purple;
}
A:visited {
	color:  black;
}
A:hover {
	color: white;
}
LI {
	color:orange;
}
IMG {
	width: 300px;
	height: 300px;
	border:3px double red;
}
TABLE {
	background-color: purple;
	border: 3px solid red;
	text-align: center;
	margin: auto;
}