BODY {
	background-color: black;
	font-family: century;
	font-weight: bolder;
	text-align: justify;
}

DIV.titulos H1 {
	letter-spacing: 4px;
	word-spacing: 12px;
	text-transform: uppercase;
	color: red;
	text-align: center;
	font-size: xx-large;
}

DIV.titulos H2 {
	letter-spacing: 8px;
	word-spacing: 24px;
	color: red;
	text-align: center;
	font-size: x-large;
}

DIV.titulos H3 {
	letter-spacing: 2px;
	color: red;
	text-align: center;
	font-size: large;
}

DIV.titulos H4 {
	letter-spacing: 6px;
	color: purple;
	text-align: center;
	text-decoration: underline;
	font-size: medium;
}

DIV.titulos H5 {
	letter-spacing: 18px;
	color: purple;
	text-align: center;
	font-size: small;
}

DIV.links {
	text-align: center;
}

DIV.links A {
	color: red;
}
DIV.links A:visited {
	color: purple;
}
DIV.links A:hover {
	color: gray;
}

DIV.imagen {
	margin-top: 20px;
	text-align: center;
}
DIV.imagen IMG {
	border: 3px solid purple;
}

DIV.tabla TABLE {
	margin:20px auto;
	width: 400px;
	height: 400px;
	background-color: lightgrey;
	border: 3px solid red;
	text-align: center;
	color: black;
}










